In [102]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [103]:
base_url ='https://www.yelp.com/search?find_desc=Restaurants&find_loc=London%2C%20United%20Kingdom&ns=1&start='
scraper_list =[]
for i in range(0,90,30):
    page = requests.get(f"{base_url}{i}")
    scraper_list.append(BeautifulSoup(page.text))

In [104]:
all_rest = []
all_rev_num = []
#all_price = []
#all_address =[]
#all_phone =[]

In [110]:
for i in range(3):
    restaurant_names = scraper_list[i].find_all('a', { 'class':'lemon--a__373c0__IEZFH','class': 'link__373c0__1G70M', 
                                 'class': 'link-color--inherit__373c0__3dzpk',
                                 'class': 'link-size--inherit__373c0__1VFlE'})
    restaurant_names = [str(restaurant) for restaurant in restaurant_names]
    restaurant_names = [restaurant.replace('</a>','') for restaurant in restaurant_names]
    restaurant_names = [restaurant.split('>')[-1] for restaurant in restaurant_names]
    restaurant_names = [restaurant for restaurant in restaurant_names if len(restaurant)>1 and restaurant != 'more']
    all_rest.extend(restaurant_names)
print (len(all_rest))

480

In [ ]:
for i in range(3):   
    num_reviews = scraper_list[i].find_all('span', {'class': 'lemon--span__373c0__3997G', 
                                        'class': 'text__373c0__2Kxyz',
                                        'class': 'reviewCount__373c0__2r4xT',
                                        'class': 'text-color--black-extra-light__373c0__2OyzO'})
    num_reviews = [str(review) for review in num_reviews]
    num_reviews = [review.replace('</span>','') for review in num_reviews]
    num_reviews = [review.split('>')[-1] for review in num_reviews]
    num_reviews = [int(review) for review in num_reviews if review.isdigit()]
all_rev_num.extend(num_reviews)
print (num_reviews)
   
    
#    price_ranges = scraper_list[i].find_all('span', {'class': 'lemon--span__373c0__3997G', 
#                                        'class': 'text__373c0__2Kxyz',
#                                        'class': 'reviewCount__373c0__2r4xT',
#                                        'class': 'text-color--black-extra-light__373c0__2OyzO'})

#    price_ranges = [str(price) for price in price_ranges]
#    price_ranges = [price.replace('</span>', '') for price in price_ranges]
#    price_ranges = [price.split('>')[-1] for price in price_ranges]
#    price_ranges = [price for price in range(1,200,2)]
#    all_price.extend(price_ranges)

In [96]:
#print(len(all_rest))
#print(len(all_rev_num))
#print(all_price)

In [97]:
#all_rest = all_rest [0:74]
#all_rev_num = all_rev_num [0:74]
#all_price = all_price [0:74]

dictionary = {
    'restaurant': all_rest,
    'number of reviews': all_rev_num
        }

In [98]:
df = pd.DataFrame(dictionary)
df

                   restaurant  number of reviews
0         Ffiona’s Restaurant                270
1    Restaurant Gordon Ramsay                204
2          The Mayfair Chippy                277
3           Duck &amp; Waffle                701
4                     Dishoom               1842
..                        ...                ...
175                   Jasmine                 35
176                 Flat Iron                  3
177           Wright Brothers                 89
178              Smoking Goat                 30
179      Kerbisher &amp; Malt                 92

[180 rows x 2 columns]