In [1]:
import pandas as pd

In [16]:
data1 = {
    'Zone': ['West', 'South', 'West', 'North', 'East', 'South'],
    'Person': ['Jack', 'Jane', 'Jill', 'Jason', 'Jordan', 'Jenna'],
    'Division': ['Sales', 'Marketing', 'Sales', 'Operations', 'Admin', 'Sales']
}

df1 = pd.DataFrame(data1)

In [17]:
data2 = {
    'Region'  : ['West', 'East', 'West', 'North', 'East', 'Midwest'],
    'Person'  : ['Jack', 'Jackson', 'Jill', 'Jason', 'Jordan', 'Adam'],
    'Division': ['Sales', 'Management', 'Sales', 'Operations', 'Admin', 'Admin']
}

df2 = pd.DataFrame(data2)

In [23]:
merged_df =pd.merge(df1,df2, how='left', on=['Person','Division'], indicator = True)

In [35]:
existing_vals = merged_df['_merge'] =='both'

In [36]:
existing_vals

0     True
1    False
2     True
3     True
4     True
5    False
Name: _merge, dtype: bool

In [41]:
new_values = merged_df.loc[~(merged_df['_merge'] =='both'), ['Person','Division','Region','Zone']]

In [39]:
new_values

   Person    Division Region   Zone
0    Jack       Sales   West   West
2    Jill       Sales   West   West
3   Jason  Operations  North  North
4  Jordan       Admin   East   East

In [2]:
df1 = pd.read_excel(r'C:\Users\iulia\DAT-07-28-iuliana\ClassMaterial\Unit2\Data\superstore.xls',sheet_name=0)
df2 = pd.read_excel(r'C:\Users\iulia\DAT-07-28-iuliana\ClassMaterial\Unit2\Data\superstore.xls',sheet_name=1)

In [56]:
pwd

'C:\\Users\\iulia\\DAT-07-28-iuliana\\ClassMaterial\\Unit2\\Class6'

In [57]:
ls

 Volume in drive C is Local Disk
 Volume Serial Number is CC42-D571

 Directory of C:\Users\iulia\DAT-07-28-iuliana\ClassMaterial\Unit2\Class6

21/08/2020  21:06    <DIR>          .
21/08/2020  21:06    <DIR>          ..
21/08/2020  17:41    <DIR>          .ipynb_checkpoints
18/08/2020  18:01           155,384 Class Notebook.ipynb
21/08/2020  17:40            56,412 Dfs for Merging.ipynb
21/08/2020  21:06            22,768 Dfs for Merging-iuliana-r.ipynb
20/08/2020  20:29    <DIR>          Labs
               3 File(s)        234,564 bytes
               4 Dir(s)  75,168,145,408 bytes free

In [3]:
merged = pd.merge(df1,df2, how ='left')

In [4]:
merged['Returned'].fillna('no',inplace= True)

In [5]:
import numpy as np

In [6]:
merged['Returned'].replace('no','No')

0        No
1        No
2        No
3        No
4        No
       ...
9989     No
9990    Yes
9991    Yes
9992    Yes
9993     No
Name: Returned, Length: 9994, dtype: object

In [7]:
merged.groupby(['Segment','Returned']).sum()

                        Row ID  Postal Code         Sales  Quantity  Discount  \
Segment     Returned
Consumer    Yes        2060730     29489822  1.053853e+05      1614     59.97
            no        23520599    259388787  1.056016e+06     17907    760.94
Corporate   Yes        1240878     18473097  5.191204e+04       984     38.27
            no        14263856    146063233  6.542343e+05     10624    439.58
Home Office Yes         538387      8264218  2.320698e+04       455     16.50
            no         8320565     89893495  4.064462e+05      6289    245.83

                           Profit
Segment     Returned
Consumer    Yes        17002.1940
            no        117117.0152
Corporate   Yes         5452.4241
            no         86526.7099
Home Office Yes          777.7434
            no         59520.9351

In [8]:
merged.groupby(merged['Order Date'].dt.dayofweek)[['Profit','Sales']].mean()

               Profit       Sales
Order Date
0           27.531328  229.255914
1           32.161238  259.683094
2           39.633075  237.350337
3           27.124915  220.072302
4           25.589012  235.254268
5           24.941160  216.304944
6           33.409071  225.353127

In [9]:
merged.resample('q',on = 'Order Date')['Sales'].sum()

Order Date
2014-03-31     74447.7960
2014-06-30     86538.7596
2014-09-30    143633.2123
2014-12-31    179627.7302
2015-03-31     68851.7386
2015-06-30     89124.1870
2015-09-30    130259.5752
2015-12-31    182297.0082
2016-03-31     93237.1810
2016-06-30    136082.3010
2016-09-30    143787.3622
2016-12-31    236098.7538
2017-03-31    123144.8602
2017-06-30    133764.3720
2017-09-30    196251.9560
2017-12-31    280054.0670
Freq: Q-DEC, Name: Sales, dtype: float64

In [31]:
merged.groupby(merged['Order Date'].dt.year)[['Sales','Quantity','Discount','Profit']].sum()

                  Sales  Quantity  Discount      Profit
Order Date
2014        484247.4981      7581    315.46  49543.9741
2015        470532.5090      7979    327.09  61618.6037
2016        609205.5980      9837    400.32  81795.1743
2017        733215.2552     12476    518.22  93439.2696

In [27]:
merged['Order Date'].dt.is_month_end

0       False
1       False
2       False
3       False
4       False
        ...
9989    False
9990    False
9991    False
9992    False
9993    False
Name: Order Date, Length: 9994, dtype: bool

In [35]:
merged.resample('Q', on='Order Date')['Sales'].sum()

Order Date
2014-03-31     74447.7960
2014-06-30     86538.7596
2014-09-30    143633.2123
2014-12-31    179627.7302
2015-03-31     68851.7386
2015-06-30     89124.1870
2015-09-30    130259.5752
2015-12-31    182297.0082
2016-03-31     93237.1810
2016-06-30    136082.3010
2016-09-30    143787.3622
2016-12-31    236098.7538
2017-03-31    123144.8602
2017-06-30    133764.3720
2017-09-30    196251.9560
2017-12-31    280054.0670
Freq: Q-DEC, Name: Sales, dtype: float64

In [45]:
merged.groupby(merged['Order Date'].dt.quarter)['Sales'].sum()

Order Date
1    359681.5758
2    445509.6196
3    613932.1057
4    878077.5592
Name: Sales, dtype: float64