<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [1]:
import csv
import pandas as pd
from collections import namedtuple   # Convenient to store the data rows

file_nested_list = []

DATA_FILE = '/Users/nerajthangarajah/GA-WK-2/Homework/Unit2/data/chipotle.tsv'

tsv_file = open(DATA_FILE)

read_tsv = csv.reader(tsv_file, delimiter="\t")

for row in read_tsv:
#     print(row)
    file_nested_list.append(row)

In [2]:
df = pd.DataFrame(file_nested_list)

In [3]:
df = df.rename(columns=df.iloc[0]).drop(df.index[0])

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [4]:
header = file_nested_list[0]
data = file_nested_list[1:]

In [6]:
#the item_price column contains strings, cleaning $ and casting to float so we can perform calcs on these values
clean_prices = []
for item in data:
    clean_prices.append(float(item[4].replace('$','')))

In [7]:
df = df.drop('item_price', axis=1)

In [8]:
#creating prices dataframe for concat
prices = pd.DataFrame(clean_prices)

In [9]:
#increasing the index by 1 to align the indices for concatenation
prices.index +=1

In [10]:
prices = prices.rename(columns={0: 'item_price'})

In [11]:
dfs = [df, prices]
result = pd.concat(dfs, axis=1)

In [12]:
df = result

In [13]:
df

,order_id,quantity,item_name,choice_description,item_price
1,1,1,Chips and Fresh Tomato Salsa,NULL,2.39
2,1,1,Izze,[Clementine],3.39
3,1,1,Nantucket Nectar,[Apple],3.39
4,1,1,Chips and Tomatillo-Green Chili Salsa,NULL,2.39
5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4619,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4622,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [17]:
average = df.groupby('order_id')[['item_price']].sum().mean()

In [18]:
average

item_price    18.811429
dtype: float64

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [253]:
unique_sodas = []
for item in df['item_name']:
    if item == 'Canned Soda':
        unique_sodas.append(item)
    if item == 'Canned Soft Drink':
        unique_sodas.append(item)

In [251]:
unique_sodas = set(unique_sodas)

In [252]:
unique_sodas

set()

In [239]:
cols = ['item_name', 'choice_description']
drinks = df[cols]

In [266]:
canned_soda = drinks[drinks['item_name'] == 'Canned Soda']
canned_soda = canned_soda['choice_description'].unique()

In [268]:
canned_soda_two = drinks[drinks['item_name'] == 'Canned Soft Drink']
canned_soda_two = canned_soda_two['choice_description'].unique()

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [193]:
df[df['item_name'] == 'Burrito']

,order_id,quantity,item_name,choice_description,item_price
511,214,1,Burrito,"[Adobo-Marinated and Grilled Chicken, Pinto Be...",7.4
512,214,1,Burrito,"[Braised Barbacoa, Vegetarian Black Beans, [So...",7.4
520,217,1,Burrito,"[Braised Barbacoa, Pinto Beans, [Sour Cream, S...",7.4
676,279,1,Burrito,"[Adobo-Marinated and Grilled Chicken, [Sour Cr...",7.4
760,313,1,Burrito,"[White Rice, Adobo-Marinated and Grilled Steak...",7.4
761,313,1,Burrito,"[White Rice, Adobo-Marinated and Grilled Steak...",7.4

In [219]:
toppings = []
for item in df:
    df = df[df['item_name'] == 'Burrito']
    for i in df['choice_description']:
        toppings.append(i)

In [215]:
toppings = [i.split('[') for i in toppings]

In [220]:
toppings

['[Adobo-Marinated and Grilled Chicken, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]',
 '[Braised Barbacoa, Vegetarian Black Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice]]',
 '[Braised Barbacoa, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]',
 '[Adobo-Marinated and Grilled Chicken, [Sour Cream, Cheese, Cilantro-Lime Rice]]',
 '[White Rice, Adobo-Marinated and Grilled Steak, [Salsa, Cheese]]',
 '[White Rice, Adobo-Marinated and Grilled Steak, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice]]',
 '[Adobo-Marinated and Grilled Chicken, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]',
 '[Braised Barbacoa, Vegetarian Black Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice]]',
 '[Braised Barbacoa, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]',
 '[Adobo-Marinated and Grilled Chicken, [Sour Cream, Cheese, Cilantro-Lime Rice]]',
 '[White Rice, Adobo-Marinated and Grilled Steak, [Salsa, Cheese]]',
 '[White Rice, Adobo-Marinated and Grilled Steak, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice]]',
 '[Adobo-Marinated and Grilled Chicken, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]',
 '[Braised Barbacoa, Vegetarian Black Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice]]',
 '[Braised Barbacoa, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]',
 '[Adobo-Marinated and Grilled Chicken, [Sour Cream, Cheese, Cilantro-Lime Rice]]',
 '[White Rice, Adobo-Marinated and Grilled Steak, [Salsa, Cheese]]',
 '[White Rice, Adobo-Marinated and Grilled Steak, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice]]',
 '[Adobo-Marinated and Grilled Chicken, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]',
 '[Braised Barbacoa, Vegetarian Black Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice]]',
 '[Braised Barbacoa, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]',
 '[Adobo-Marinated and Grilled Chicken, [Sour Cream, Cheese, Cilantro-Lime Rice]]',
 '[White Rice, Adobo-Marinated and Grilled Steak, [Salsa, Cheese]]',
 '[White Rice, Adobo-Marinated and Grilled Steak, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice]]',
 '[Adobo-Marinated and Grilled Chicken, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]',
 '[Braised Barbacoa, Vegetarian Black Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice]]',
 '[Braised Barbacoa, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]',
 '[Adobo-Marinated and Grilled Chicken, [Sour Cream, Cheese, Cilantro-Lime Rice]]',
 '[White Rice, Adobo-Marinated and Grilled Steak, [Salsa, Cheese]]',
 '[White Rice, Adobo-Marinated and Grilled Steak, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice]]']

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!